@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//Colors
/// Primary
$Violet: hsl(257, 40%, 49%);
$Soft_Magenta: hsl(300, 69%, 71%);

// Typography
/// Headings
$Family_Heading: 'Poppins',
sans-serif;
$Weights: 400,
600;

/// Body
$Family_Open: 'Open Sans',
sans-serif;